
*.png
*.jpg
*.properties
*.jpg
src/main/resources/application.properties
src/main/resources/application.properties
target/classes/application.properties
target/classes/application.properties
target/classes/application.properties
src/main/resources/application.properties
src/main/resources/application.properties
src/main/resources/application.properties
*.properties
