body{
	background-image: url("/css/images/upfeathers.png");
	font-family: 'Roboto', sans-serif;
	font-size:17px;
	color:black;	
}

#container 
{
	width:1000px;
     margin:0 auto;
}

.addingName{
	font-size:12px;
}

.bottomTd{
	padding-bottom:20px;
	border-radius:5px;
}


.inputBox{
	width: 300px;
	height: 23px;
	font-family: 'Roboto', sans-serif;
	border-radius:5px;
}

.aboutArea{
	width:400px;
	height:200px;
	border-radius:5px;
}

.smallerArea{
	width:300px;
	height:150px;
	border-radius:5px;
}

.descriptionArea{
	width:650px;
	height:300px;
	border-radius:5px;
}

#submit{
	margin-top:50px;
}