body {
	background-image: url("/css/images/dust_scratches.png");
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	color: black;
}

#container {
	width: 1000px;
	margin: 0 auto;
}

#bookDescription {
	width: 450px;
	height: 180px;
	display: block;
	overflow: hidden;
}

#authorDescription {
	height: 188px;
	display: block;
	overflow: hidden;
}

.moreDesc {
	color: #00635d;
}

.blackRef {
	color: black;
}

.rounded {
	border-radius: 5px;
}

.like {
	background-color: #3b5998;
	border-radius: 5px;
	color: white;
}

#desc {
	vertical-align: text-top;
	width: 455px;
	padding-left: 10px;
	text-align: left;
}

.inline {
	display:inline;
}

#img {
	vertical-align: top;
}

#authorImg {
	vertical-align: top;
	padding-top: 30px;
}

#rating {
	font-size: 15px;
}

button {
	width: 74px;
	height: 32px;
}

#details {
	font-size: 12px;
}

#credit {
	font-size: 15px;
}

#aboutAuthor {
	font-size: 14px;
	vertical-align: top;
	width: 200px;
	padding-left: 20px;
}

#quotesFromBook {
	width: 200px;
	margin-top: 20px;
}

#communityReviews {
	margin-top: 20px;
	width: 660px;
}

#likeForm {
	display: inline;
}

#spaceUnder {
	padding-bottom: 20px;
}

#reviewTitleTd {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 600px;
}

#ratingTd {
	padding-bottom: 10px;
}

#ratingDetails {
	padding-bottom: 10px;
	color: #00635d;
}

#imgRateReview {
	float: left;
}

#reviewDesc {
	float: left;
	width: 500px;
	padding-left: 20px;
}

#reviewLikes {
	text-align: right;
	width: 500px;
}