body{
	background-image:url("/css/images/dust_scratches.png");
	font-family: 'Roboto', sans-serif;
	font-size:17px;
	color:black;	
}

#container 
{
	width:1000px;
  	margin: 0 auto;
}

#title{
	font-family: 'Spectral SC', sans-serif;
	font-size:32px;
	color:black;
	float:left;
}

.whiteContainer2 {
  position: absolute;
  background-color:white;
  width:600px;
  height:480px;
  border-radius:7px;
  left: 50%;
  top: 10%;
  margin-top:310px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-size:0.5px;
  border-style:solid;
  border-width: thin;
  border-color:#9b9b9b;
  text-align:center;
}

#sponsored{
	position: absolute;
  background-color:#F4F1EA;
  width:550px;
  height:170px;
  border-radius:7px;
  left: 50%;
  top: 50%;
  margin-top:70px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align:center;
  color:#9b9b9b;
  font-size:14px;
}

#sBook1Desc{
	text-align:center;
	width:200px;
}

#sBook1{
	margin-top:20px;
	margin-left:20px;	
}

#loginTable{
	font-size:13px;
	text-align:left;
	margin-left:150px;
	margin-top:50px;
}

.joinInputBox{
	width: 300px;
	height: 40px;
	border-radius:3px;
}

.signIn{
	background-color:black;
	color:white;
	height:32px;
	width:92px;
	border-radius: 5px;
	font-weight:bold;
}