body{
	background-image: url("/css/images/dust_scratches.png");
	font-family: 'Roboto', sans-serif;
	font-size:12px;
	color:black;	
}

#container 
{
	width:1100px;
     margin:0 auto;
}

.blackRefNoDec{
	color:black;
	text-decoration:none;
}

.blackRef{
	color:black;
}

#pageNumbers{
	margin-top:15px;
}

.pageNum{
	display:inline;
	margin-left:5px;
}

#first{
	width:400px;
}

#filters{
	float:left;
	font-size:17px;
}

#mainTable{
	float:left;
	width:1100px;
}

.rounded{
	border-radius:5px;
}

.dateReadChooser{
	border-radius:5px;
	border:1px solid #aaaaaa;
}

hr {
    border: 0;
    border-bottom: 1px solid #DCDCDC;
    clear: both;
    display: block;
    height: 0;
    width: 100%;
}

#mainTable td{
	padding-top:20px;
	vertical-align:top;
}

.titleRef{
	color:black;
}

/* #lastTd{ */
/* 	padding-top:20px; */
/* 	padding-left:10px; */
/* 	vertical-align:top; */
/* 	width:120px; */
/* } */