body {
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	color: black;
}

#container {
	width: 1000px;
	margin: 0 auto;
}

.blackRef {
	color: black;
}

.rounded {
	border-radius: 5px;
}

#reviewHeader{
	float:left;
	width:500px;
}

.adminActions{
	float:left;
}

#deleteComment{
	float:left;
	margin-left:10px;
}

#editReview {
	margin-top: 10px;
	float:left;
}

#like {
	background-color: #3b5998;
	border-radius: 5px;
	font-size: 15px;
	color: white;
}

#reviewLikes {
	margin-left: 400px;
}

#editReviewTextArea {
	width: 516px;
	height: 198px;
}

#reviewText {
	width: 600px;
}

#editReviewButton {
	cursor: pointer;
}

#deleteReview{
	float:left;
	margin-top: 10px;
	margin-left: 10px;
}

.blackRefNon{
	color:black;
	text-decoration:none;
}

.submit {
	background-color: #fdd05f;
	color: black;
	border-radius: 5px;
}

textarea {
	border-radius: 5px;
}

#like {
	background-color: #3b5998;
	border-radius: 5px;
	color: white;
}

#img {
	vertical-align: top;
}

#rating {
	font-size: 15px;
}

#reviewBox {
	width: 600px;
	height: 150px;
}

#reviewTitle {
	margin-bottom: 20px;
	width: 300px;
}

#allComments {
	margin-top: 20px;
}

#allReviewsTable {
	float: left;
}

#likeForm {
	display: inline;
}

#spaceUnder {
	padding-bottom: 20px;
}

#reviewTitleTable {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 600px;
}

#ratingDetails {
	padding-bottom: 10px;
	color: #00635d;
}

#commentLabel {
	padding-top: 10px;
}

#imgReview {
	float: left;
}

#reviewDesc {
	float: left;
	padding-left: 20px;
}

.commentUserName {
	width: 300px;
}

.commentHeader {
	float: left;
	width: 300px;
}

.