body{
	background-image: url("/css/images/dust_scratches.png");
	font-family: 'Roboto', sans-serif;
	font-size:12px;
	color:black;	
}

#container 
{
	width:1100px;
     margin:0 auto;
}

#actionsContainer{
	width:600px;
}